version: '3.8'

services:
  db:
    image: postgres:16-alpine
    container_name: postgres_learning
    restart: always
    # Используем переменные из .env файла для безопасности
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_learning
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    ports:
      - "8080:80" # Будет доступен в браузере по адресу localhost:8080
    depends_on:
      - db

volumes:
  pgdata:
